<main class="container-fluid bg-light" style="height: 100vh;">
  <div class="row h-100 align-items-center justify-content-around">
    <div class="col-md-4">
      <div class='card card-hover' (click)="goInvitado()">
        <div class='card-body shadow text-center'>
          <i class="fas fa-user-secret fa-9x"></i>
          <h4>Entrar como Invitado</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class='card card-hover' (click)="goAdmin()">
        <div class='card-body shadow text-center'>
          <i class="fas fa-home fa-9x"></i>
          <h4>Acceder a la Intranet</h4>
        </div>
      </div>
    </div>
  </div>
</main>