* {
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
#cabeceralogo{
    width: 96%;
    height: 150px;
    padding: 0% 2%;
    background-color: #0f76a0;
}
#cabeceralogo > div{
    width: 960px;
    margin: 0px auto;
    padding-top: 45px;
}
#cabeceralogo h1{
    font: bold 45px Arial, sans-serif;
    color: #ffffff;
}
#menuprincipal{
    width: 96%;
    height: 50px;
    padding: 0% 2%;
    background-color: #9fc8d9;
    border-top: 1px solid #094660;
    border-bottom: 1px solid #094660;
}
#menuprincipal>div{
    width: 960px;
    margin: 0px auto;
}
#menuprincipal li{
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
}
#menuprincipal li:hover{
    background-color: #6facc6;
}
#menuprincipal a{
    font: bold 18px Arial, sans-serif;
    color: #333333;
    text-decoration: none;
}
main{
    width: 96%;
    padding: 2%;
    background-image: url("./fondo.jpg");
    background-size: cover;
    height: 100%;
}
main>div{
    width: 960px;
    margin: 0px auto;
}
#articulosprincipales{
    float: left;
    width: 620px;
    padding-top: 30px;
    background-color: #ffffff;
    border-radius: 10px;
}
#infoadicional{
    float: right;
    width: 280px;
    padding: 20px;
    background-color: #e7f1f5;
    border-radius: 10px;
}
#infoadicional h1{
    font: bold 18px Arial, sans-serif;
    color: #333333;
    margin-bottom: 15px;
}
.recuperar{
    clear: both;
}
article{
    position: relative;
    padding: 0px 40px 20px 40px;
}
article time{
    display: block;
    position: absolute;
    top: -5px;
    left: -70px;
    width: 80px;
    padding: 15px 5px;
    background-color: #094660;
    box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
    border-radius: 5px;
}
.numerodia{
    font: bold 36px Verdana, sans-serif;
    color: #ffffff;
    text-align: center;
}
.nombredia{
    font: 12px Verdana, sans-serif;
    color: #ffffff;
    text-align: center;
}
article h1{
    margin-bottom: 5px;
    font: bold 30px Georgia, sans-serif;
}
article p{
    font: 18px Georgia, sans-serif;
}
figure{
    margin-bottom: 10px 0px;
}
figure img{
    padding: 5px;
    border: 1px solid;
}
#pielogo{
    width: 96%;
    padding: 2%;
    background-color: #0f76a0;
}
#pielogo > div{
    width: 960px;
    margin: 0px auto;
    background-color: #9fc8d9;
    border-radius: 10px;
}
.seccionpie{
    float: left;
    width: 270px;
    padding: 25px;
}
.seccionpie h1{
    font: bold 20px Arial, sans-serif;
}
.seccionpie p{
    margin-top: 5px;
}
.seccionpie a{
    font: bold 16px Arial, sans-serif;
    color: #666666;
    text-decoration: none;
}
.seccionpie{
    float: left;
    width: 27.33%;
    padding: 3%;
}
#listamenu > li{
    position: relative;
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
}
#listamenu li>ul{
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: #9fc8d9;
    box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
    border-radius: 0px 0px 5px 5px;
    list-style: none;
    z-index: 1000;
}
#listamenu li > ul > li {
    width: 120px;
    height: 35px;
    padding-top: 15px;
    padding-left: 10px;
}
#listamenu li:hover ul {
    display: block;
}
#listamenu a {
    font: bold 18px Arial, sans-serif;
    color: #333333;
    text-decoration: none;
}
#menuprincipal li:hover {
    background-color: #6FACC6;
}