<main class="container-fluid">
    <ejs-schedule #miCalendario
        (popupOpen)="agregarEventoHtml($event)"
        (popupClose)="agregarEventoHtml($event)"
        (created)="agregarEventoHtml($event)"
     width='100%' height='550px' [eventSettings]='eventSettings'> </ejs-schedule>
</main>
<div class="container mt-5">
    <div class="row" #fila2>
        <div class="col-md-6">
            <button class="btn btn-primary"
                    (click)="agregarEvento()">
                Agregar Evento
            </button>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>