/* todas la etiquetas
'li' y las etiquetas 'a' */

li, a {
    color: maroon;
}

/* 
Todos los h2 que sean hijos a cualquier
nivel de un elemento section
 */

section h2 {
    color: orangered;
}

/* Tdos los h2 que sean hijos directos
de un elemento section */

section>h2, .aguamarina {
    color: blue;
}

/* todos los label hijos en primer nivel
de un form */

form>label {
    border: 1px solid red;
}

#form2>label {
    border: 1px solid blue;
}

#form2>label>span {
    border: 1px solid green;
}

.texto-grande {
    font-size: 50px;
}

/* Todos los h1 que tengan la clase
'texto-grande' */

h1.texto-grande {
    font-family: Arial, Helvetica, sans-serif;
}

h2.texto-grande {
    font-family: 'Courier New', Courier, monospace;
}

/* Selectores de etiquetas con atibutos */

/* todos los parrafos que tengan el 
atributo name */

p[name] {
    background-color: chocolate;
}

p[name="parrafo2"] {
    background-color: blueviolet;
}

input[type="email"] {
    color: brown;
}