body{
    background: #1E9600;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF0000, #FFF200, #1E9600);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0000, #FFF200, #1E9600); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
input[type="text"]{
    /* Input de type="text" tiene un mayor 
    grado de prioridad que una etiqueta input*/
    background: transparent; /* Hace transparente
    el color de fondo*/
    border-bottom: 1px solid #000000;/* selecciona
    el borde inferior y le pone un 1px de grosor,
    solido y de color negro.*/
    border-radius: 0px;
    color: aquamarine;
}
input{
    border-radius: 10px;
    border: 0px;
    outline: none;
}
input[type="submit"]{
    background: #ED213A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100%;
}