<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" [routerLinkActive]="'active'">
                <a class="nav-link" [routerLink]="['home']">Home</a>
            </li>
            <li class="nav-item" [routerLinkActive]="'active'">
                <a class="nav-link" [routerLink]="['canchas']">Canchas</a>
            </li>
            <li class="nav-item" [routerLinkActive]="'active'">
                <a class="nav-link" [routerLink]="['usuarios']">Usuarios</a>
            </li>
            <li class="nav-item" [routerLinkActive]="'active'">
                <a class="nav-link" [routerLink]="['pipes']">Pipes</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>