<main class="container mt-4">
    <p [ngStyle]="miCard">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid consequatur maiores quisquam modi quasi
        numquam quos mollitia, sequi quidem nostrum reiciendis, hic vitae porro nemo saepe ratione quaerat? Dolorem,
        quia.
    </p>
    <hr>
    <p [ngStyle]="{'font-size': '2rem', 'color':rojo}">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur adipisci corporis cupiditate, cum, iusto a
        pariatur saepe dolor, error ullam officiis ipsam quaerat culpa expedita aperiam soluta quos quas eos!
    </p>
</main>